<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

 <!-- General description of your web application -->

    <display-name>Asms Web Application</display-name>
    <description>
     Asms Web Application
    </description>

   <!-- <error-page>
	    Missing resource 
	    <error-code>404</error-code>
	    <location>/index.html</location>
	</error-page>-->
</web-app>